py-cpuinfo
openai
litellm
sqlalchemy
GPUtil
psutil
flashtext
presidio_analyzer
presidio_anonymizer
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
