py-cpuinfo
openai
litellm
sqlalchemy
GPUtil
psutil
password_strength
presidio_analyzer
presidio_anonymizer
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0.tar.gz