:root {
  --background: 255, 255, 255; /* Light mode background (white) */
  --foreground: 0, 0, 0; /* Light mode text (black) */
}

.dark {
  --background: 15, 15, 15; /* Dark mode background (dark) */
  --foreground: 255, 255, 255; /* Dark mode text (white) */
}
body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}